
.footer{
    background-color: black;
    color:white;
    height: 50vh;
    padding:15px;
}

.contact{
    font-weight: 600;
    padding: 20px 0;

}
.contact-information span{
    display: block;
    padding-bottom: 10px;

    

}
