.header{
  border: 1px solid red;
  background-color: $fourth-color;
  position: fixed;
  top:0;
  z-index: 10;
  width: 100%;

.wrapper{
  display: flex;
  flex-direction: row;
  padding:10px;
  justify-content: space-between;
  align-items: center;
}
}