.top-section {
    border:1px solid red;
    height: 40vh;
    text-align: center;
}



.what-we-do{
    text-transform: uppercase;
    color:$fourth-color;
    align-items: center;
    padding: 35px;
}

.h3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}