/*COLORS*/

$first-color:#000000;
/*black*/
$secondary-color:#ffffff;
/*white*/
$terciary-color: #de25e0;
/*magenta*/
$fourth-color: #15339b;
/*blue*/

/*FONTS*/

$first-font: 'Source Sans Pro', sans-serif;
$font-size: 16;

@function rem($pixels) { @return ($pixels / $default-font-size * 1rem); } 

