/*COLORS*/

$first-color:#000000;
/*black*/
$secondary-color:#ffffff;
/*white*/
$terciary-color: #de25e0;
/*magenta*/
$fourth-color: #15339b;
/*blue*/

/*FONTS*/

$first-font: 'Source Sans Pro', sans-serif;

