<footer class="footer">
    <div class="footer-div">
        <image class="footer-logo" src="./assets/images/brook-logo.png" alt="footer-logo" title="footer-logo"></image>
        <h3 class="contact">Contact</h3>
        <div class="contact-information">
            <span>2005 Stokes Isle Apt. 896.</span>
            <span>ana ville 10010, USA</span>
            <span>info@yourdomain.com</span>
            <span>(+68) 120034509</span>
        </div>

        <div class="footer--social-media">
            <ul>
                <li>
                    <span class="social-media">
                        <a class="rrss" href="#">
                            <i class="fab fa-facebook" title="Facebook"></i>
                        </a>
                    </span>
                    <span class="social-media">
                        <a class="rrss" href="#">
                            <i class="fab fa-twitter" title="Twitter"></i>
                        </a>
                    </span>
                    <span class="social-media">
                        <a class="rrss" href="#">
                            <i class="fab fa-instagram" title="Instagram"></i>
                        </a>
                    </span>
                    <span class="social-media">
                        <a class="rrss" href="#">
                            <i class="fab fa-twitter" title="Twitter"></i>
                        </a>
                    </span>
                    <span class="social-media">
                        <a class="rrss" href="#">
                            <i class="fab fa-pinterest" title="Pinterest"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <ul class="footer-links">
                <li>
                    <a href="#">Our Blog</a>
                </li>
                <li>
                    <a href="#">Latest Projects</a>
                </li>
                <li>
                    <a href="#">Contact US</a>
                </li>
            </ul>
        </div>
</footer>