<section class="main">
    <div class="wrapper">
        <div class="main-div">
            <include src="./section-parts.html" imgSrc="./assets/images/eye-icon.jpg" alt="eye-icon" title="eye-icon">
            </include>

            <include src="./section-parts.html" imgSrc="./assets/images/book-icon.jpg" alt="book-icon"
                title="book-icon">
            </include>

            <include src="./section-parts.html" imgSrc="./assets/images/boxes-icon.jpg" alt="boxes-icon"
                title="boxes-icon">
            </include>
        </div>
    </div>
</section>