<section class="main">
    <div class="wrapper">
        <article class="modern-design">
            <img class="eye-icon>" src=".assets/images/eye-icon.jpg" alt="eye-icon" title="book-icon">
            <p class="moder-design-p">
                Brook embraces a modern look with varius enhanced predefined page elements.
            </p>
            <span class="more-details">more details</span>
        </article>
        <article class="modern-design">
            <img class="book-icon>" src=".assets/images/book-icon.jpg" alt="book-icon" title="book-icon">
            <p class="moder-design-p">
                Brook embraces a modern look with varius enhanced predefined page elements.
            </p>
            <span class="more-details">more details</span>
        </article>
        <article class="modern-design">
            <img class="eye-icon>" src=".assets/images/boxes-icon.jpg" alt="eye-icon" title="eye-icon">
            <p class="moder-design-p">
                Brook embraces a modern look with varius enhanced predefined page elements.
            </p>
            <span class="more-details">more details</span>
        </article>
    </div>
</section>